[submodule "git/eaf"]
	path = git/eaf
	url = git@github.com:manateelazycat/emacs-application-framework
[submodule "git/eclipse-theme"]
	path = git/eclipse-theme
	url = git@github.com:abo-abo/eclipse-theme
[submodule "git/evil"]
	path = git/evil
	url = git@github.com:emacs-evil/evil
[submodule "git/evil-escape"]
	path = git/evil-escape
	url = git@github.com:syl20bnr/evil-escape
[submodule "git/evil-exchange"]
	path = git/evil-exchange
	url = git@github.com:Dewdrops/evil-exchange
[submodule "git/evil-find-char-pinyin"]
	path = git/evil-find-char-pinyin
	url = git@github.com:cute-jumper/evil-find-char-pinyin
[submodule "git/evil-matchit"]
	path = git/evil-matchit
	url = git@github.com:redguardtoo/evil-matchit
[submodule "git/evil-nerd-commenter"]
	path = git/evil-nerd-commenter
	url = git@github.com:redguardtoo/evil-nerd-commenter
[submodule "git/evil-surround"]
	path = git/evil-surround
	url = git@github.com:emacs-evil/evil-surround
[submodule "git/evil-visualstar"]
	path = git/evil-visualstar
	url = git@github.com:bling/evil-visualstar
[submodule "git/pinyinlib.el"]
	path = git/pinyinlib.el
	url = git@github.com:cute-jumper/pinyinlib.el.git
[submodule "git/evil-mark-replace"]
	path = git/evil-mark-replace
	url = git@github.com:redguardtoo/evil-mark-replace
[submodule "git/general.el"]
	path = git/general.el
	url = git@github.com:noctuid/general.el
[submodule "git/ctable"]
	path = git/ctable
	url = git@github.com:kiwanami/emacs-ctable
[submodule "git/deferred"]
	path = git/deferred
	url = git@github.com:kiwanami/emacs-deferred
[submodule "git/epc"]
	path = git/epc
	url = git@github.com:kiwanami/emacs-epc
[submodule "git/s.el"]
	path = git/s.el
	url = git@github.com:magnars/s.el
[submodule "git/pyim"]
	path = git/pyim
	url = git@github.com:tumashu/pyim
[submodule "git/pyim-basedict"]
	path = git/pyim-basedict
	url = git@github.com:tumashu/pyim-basedict
[submodule "git/xr"]
	path = git/xr
	url = git@github.com:mattiase/xr
[submodule "git/sdcv"]
	path = git/sdcv
	url = git@github.com:manateelazycat/sdcv
[submodule "git/posframe"]
	path = git/posframe
	url = git@github.com:tumashu/posframe
[submodule "git/hydra"]
	path = git/hydra
	url = git@github.com:abo-abo/hydra
[submodule "git/emacs-w3m"]
	path = git/emacs-w3m
	url = git@github.com:emacs-w3m/emacs-w3m
[submodule "git/winum"]
	path = git/winum
	url = git@github.com:deb0ch/emacs-winum
[submodule "git/dash"]
	path = git/dash
	url = git@github.com:magnars/dash.el
[submodule "git/ace-window"]
	path = git/ace-window
	url = git@github.com:abo-abo/ace-window
[submodule "git/avy"]
	path = git/avy
	url = git@github.com:abo-abo/avy
